* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif   ;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    left: 20px;
    background-color: transparent;
    top: 20px;
    border: none;
    color: #66ff99;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

.drawer {
    position: fixed;
    transition: left 0.5s;
    top: 0;
    left: -150px;
    width: 200px;
    height: 100vh;
    background-color: #3d3d3d;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drawer.open {
    left: 0;
}

.section {
    margin-left: 0px;
    padding: 50px;
    width: 95%;
}

.section h1, .section h2 {
    color: #66ff99;
    margin-bottom: 20px;
}

.profile-img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 20%;
}

/* tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #66ff99;
    margin: 20px;
}

.tab-link {
    flex: 1;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.tab-link.active {
    background-color: #66ff99;
    color: #16181d;
}

.tab-link:hover {
    background-color: #0cec57;
}

.tab-content {
    border-radius: 10px;
    border: 1px solid #66ff99;
    background-color: black;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.modal input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #1a1a1a;
    color: black;
}

.modal button, #abrirModal {
    padding: 10px 20px;
    border:     none;
    background-color: #66ff99;
    color: #16181d;
    cursor: pointer;
}

.close {
    position: relative;
    top: 0px;
    left: 50%;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}